/*
Version: NoirMDB 1.0
Author: Anzhelika Katkova, Beate Nadolny, Lisa Schweiber
*/
@charset "utf-8";
@font-face {
  font-family: 'Franchise Fett';
  src: local('Franchise Fett'), url(../typo/Franchise-Bold-hinted.ttf);
}
body,html {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	font-family: calibri;
	font-size: 15px;
	color: #fff;
}
h1, h2, h3, h4, h5, h6 { /* Headlines */
	font-family: 'Franchise Fett', 'Calibri' !important;
	padding: 0 20px;
	margin-bottom: 8px;
}
/* ~~ Hyperlink-Style ~~ */
a img, a img:hover {
	border: none;
}
a:link, a:visited {
	color: #fff;
	text-decoration: none;
}
a:hover, a:active, a:focus {
	color: #ccc;
	text-decoration: none;
}
/* ~~ Div-Style ~~ */
main {
	position: relative;
	top: 30px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
	width: 80%;
	min-width: 700px;
	min-height: 90%;
}
article {
	background-color: rgba(0, 0, 0, 0.8);
	min-height: 400px;
	padding: 30px 40px;
	position: relative;
}
infobox {
	position: fixed;
}
infolist {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	max-height: 250px;
	width: 100%;
	overflow-y: auto;
	z-index: 500;
}
header {
	height: 220px;
	overflow: hidden;
	z-index: 1000;
}
/* ~~ Conent-Style ~~ */ 
table {
	padding: 0 25px !important;
	border: 0;
}
/* ~~ Origin: Bootstrap ~~ */ 
gbtn, .gbtn {
	background-color: rgba(0, 0, 0, 0.5);
	display: inline-block;
	padding: 4px 8px;
	margin: 2px 5px;
	font-family: 'Franchise Fett', 'Calibri';
	font-size: 20px !important;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
    	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
       -moz-user-select: none;
    	-ms-user-select: none;
          	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.gbtn-info {
	background-color: #5bc0de;
	border-color: #46b8da;
	color: #000;
}
.gbtn-info:focus,
.gbtn-info.focus {
	background-color: #31b0d5;
	border-color: #1b6d85;
}
.gbtn-info:hover {
	background-color: #31b0d5;
	border-color: #269abc;
}